/* === ESTILIZANDO FORMULÁRIOS === */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 20px;
    min-height: 100vh; /* Altura mínima da viewport */
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

/* Container do formulário */
.formulario {
    background-color: #764ba2;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0,0,0,0.2);
}
label {
    color: bisque;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}
input[type="Text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width:100%;
    padding: 10px;
    border: 2px solid #764ba2;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3;
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #2945c1;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

button {
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s;
}

.btn-enviar {
    background-color: rgb(9, 239, 162);
    color: #2945c1;
}
.btn-enviar:hover {
    background-color: rgb(240, 255, 249);
    transform: translateY(-2px);
}
.btn-limpar {
    background-color: brown;
    transform: translateY(-2px);
}
   
